:root {
  --font: -apple-system, 'Inter', sans-serif;
  /* Colors */
  --content-bg: #ffffff;
  --primary-bg: #f3f3f3;
  --primary-text: #485a6c;
  --title-color: #0e141f;
  --accent: #3689e6;
  --warning: #c6262e;
}

body {
  background-color: var(--primary-bg);
  font-family: var(--font);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* section {
  position: relative;
} */

.modal {
  position: absolute;
  max-width: 600px;
  max-height: 600px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--content-bg);
  box-shadow: 0 10px 20px -15px black;
  border-radius: 2%;
  padding: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: xx-large;
  color: var(--title-color);
  margin-bottom: 18px;
}

.description {
  margin-bottom: 21px;
}

.button {
  padding: 10px 30px;

  background: linear-gradient(to bottom, #4fc5fa 0%, #0f75f5 100%);
  background-size: 100%;
  border: 0;
  border-radius: 50px;

  box-shadow: inset 0 1px 1px rgb(255 255 255 / 41%),
    0px 2px 3px -2px rgba(0, 0, 0, 0.3);
  color: var(--content-bg);
  font-weight: 900;
  font-style: large;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: 2px solid #64baff;
}
