html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background: $primary-color-light;
  color: $primary-color;

  // TEXT
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-break: break-word;
  // FONT
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;

  p,
  ul,
  ol,
  pre,
  table,
  blockquote,
  %headings {
    transition: all 200ms ease-in-out;
  }

  %headings {
    font-weight: 900;
    font-variant: small-caps;
    font-family: $accent-font;
  }
  code {
    background: #ccc;
    display: inline-block;
  }
  pre,
  code {
    width: 100%;
  }
  pre {
    margin: 1em;
  }

  &.modal-open {
    overflow: hidden;
  }
}

@import './reset';
@import './section';

// Ratio
$ratio: $phi;

// Typography
@include respond-to-max($firstrange) {
  @include typography(12px);
}
@include respond-from-min($mobileS) {
  @include typography(14px);
}
@include respond-from-min($mobile) {
  @include typography(15px);
}
@include respond-from-min($tabletBox) {
  @include typography(16px);
}
@include respond-from-min($tablet) {
  @include typography(19px);
}
@include respond-from-min($desktop) {
  @include typography(21px);
}
@include respond-from-min($desktopMax) {
  @include typography(24px);
}
