// Wrapper
.container {
  padding-left: 20px;
  padding-right: 20px;

  position: relative;

  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @include respond-from-min($tablet) {
    padding-left: 15px;
    padding-right: 15px;

    max-width: $tablet;
  }

  @include respond-from-min($desktop) {
    max-width: $desktop;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }


  @include respond-from-min($desktopMax) {
    max-width: $desktopMax;
    margin: 0 auto;
  }
}

.content {
  @include respond-from-min($desktop) {
    flex: $phi;
  }
}
.notes {
  display: none;
  @include respond-from-min($desktop) {
    display: flex;
    flex: 1;
    align-items: stretch;
  }
}
