# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.{js,json,vue,scss,haml,pug}]
indent_style = space
indent_size = 2
tab_width = 2


[*.{md,markdown,js.snap}]
trim_trailing_whitespace = false
