// FONTS
$main-font: 'Alegreya', serif;
$accent-font: 'Alegreya Sans', sans-serif;
$code-font: 'Fira Code', monospace;

$minor-size: 14pt;

$main-size: 21;
$main-size-mobile: 18;

$title-size: 55;
$secondary-size: 43;
$ternary-size: 34;

// Mobile menu
$mobile-menu: 40;
$mobileS-menu: 34;

// font-size-adjust: 0.5;
