// FONTS
$main-font: "Roboto", sans-serif;

$minor-size: 12;

$main-size: 21;
$main-size-mobile: 18;

$title-size: 55;
$secondary-size: 43;
$ternary-size: 34;

// Mobile menu
$mobile-menu: 40;
$mobileS-menu: 34;

font-size-adjust: 0.5;
