// Responsive design
// If you want we could use this mixins too
// https://gist.github.com/davidgilbertson/ad24b42b0eddde2dc6b1b51f9460af11#file-css-breakpoint-mixins-scss

// Style will work only from this breakpoint
@mixin respond-from-min($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

// Style will work only to this breakpoint
@mixin respond-to-max($breakpoint) {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

// Responsive Ratio-Based Typography SASS Mixin
// https://codepen.io/derekjp/pen/avodwL?editors=0100
// Usage:
@mixin typography($font-size) {
  $base-line-height: $font-size * $ratio;
  $margin: $base-line-height;
  body{
    font-size: $font-size;
    line-height: ($font-size * $ratio);
  }
  h1{
    font-size: ((($font-size * $ratio) * $ratio) * $ratio);
    line-height: ($font-size * $ratio) * 3;
    margin-top: $margin * 2;
    margin-bottom: $margin;
  }

  h2{
    font-size: (($font-size * $ratio) * $ratio);
    line-height: ($font-size * $ratio) * 2;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  h3{
    font-size: $font-size * $ratio;
    line-height: ($font-size * $ratio);
    margin-top: $margin;
    margin-bottom: $margin;
  }
  h4{
    font-size: $font-size;
    line-height: ($font-size * $ratio);
    margin-top: $margin;
    margin-bottom: $margin;
  }
  p, ul, ol, pre, table, blockquote{
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

@mixin retina($image, $width: 'false', $gradient: 'false') {
  @if $width != 'false' and $gradient != 'false' {
    @media screen and (min-device-pixel-ratio: 2) and (min-width: $width),
      screen and (min-resolution: 192dpi) and (min-width: $width),
      screen and (min-resolution: 2dppx) and (min-width: $width) {
      background-image: $gradient, url($image);
    }
  } @else if $width != 'false' and $gradient == 'false' {
    @media screen and (min-device-pixel-ratio: 2) and (min-width: $width),
      screen and (min-resolution: 192dpi) and (min-width: $width),
      screen and (min-resolution: 2dppx) and (min-width: $width) {
      background-image: url($image);
    }
  } @else if $width == 'false' and $gradient == 'false' {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url($image);
    }
  } @else if $width == 'false' and $gradient != 'false' {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url($image);
    }
  }
}
