header.header
  .header__container
    .logo
      a(class="logo__link" href="#", target="_blank", rel="noopener noreferrer")
        figure.logo__fig
          object(class="logo__img" data="./img/logo_m.svg", type="image/svg+xml")
          figcaption.logo__content Searge
    nav.menu
      .menu__search Search
      ul.menu__list
        li.menu__item Alpha
        li.menu__item Beta
        li.menu__item Gamma
