header.header
  figure
    a(class="logo" href="#", target="_blank", rel="noopener noreferrer")
      object(class="logo__img" data="./img/logo_m.svg", type="image/svg+xml")
      figcaption.logo__content Searge
  nav.menu
    ul.menu__list
      li.menu__item Alpha
      li.menu__item Beta
      li.menu__item Gamma
