$font: -apple-system, 'Inter', sans-serif;
/* Colors */
$content-bg: #ffffff;
$primary-bg: #f3f3f3;
$primary-text: #485a6c;
$title-color: #0e141f;
$accent: #3689e6;
$warning: #c6262e;
// margins
$box-item-gap: 30px;
