extends ../templates/layout.pug

block head
  title Serhii Boremchuk

block content
  .container
    - const languages = ['Python', 'JS', 'HTML', 'CSS', 'XPath', 'Lisp'];
    - const databases = ['SQLite', 'PostgreSQL', 'Percona', 'DynamoDB', 'Redis'];
    - const misc = ['Linux', 'Shell', 'LXC', 'Docker', 'AWS'];
    - const ongoing = ['Full Stack Web', 'Magento 2 Cloud', 'AWS'];

