extends ../templates/layout.pug

block head
  title Hello World

block content
  section.content
    h1 Title

    h2 Section title
    p.
      Sed non pulvinar leo. Maecenas at tincidunt lorem. Fusce porta ullamcorper pretium. Etiam vehicula nulla ac tortor cursus volutpat. Suspendisse accumsan pharetra nulla, ac vehicula erat blandit vitae. Fusce sit amet felis mattis, efficitur purus nec, cursus orci. Suspendisse potenti. Morbi nulla lorem, molestie et dapibus et, placerat at mauris. Nulla dui metus, sodales ut porta at, egestas vel mi. Vivamus ornare tellus quis efficitur malesuada. Vivamus tempus ipsum turpis, quis tempus lectus gravida sit amet.

    h3 Subsection title
    p.
      Etiam sit amet rutrum diam, vel viverra urna. Proin condimentum est ac tempus gravida. Donec sed imperdiet metus. Maecenas non lacus quis risus scelerisque imperdiet. Nulla cursus libero id diam bibendum viverra. Nulla lacinia efficitur diam, non egestas magna pulvinar et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque lorem nibh, rutrum et elementum non, egestas nec tellus.

    h4 Subsection Clarification
    p.
      Quisque euismod maximus magna nec rutrum. Mauris eleifend pellentesque euismod. Suspendisse pharetra ornare nisi, et ultrices nulla sagittis a. Proin eu aliquet orci, nec dignissim turpis. Pellentesque neque enim, lacinia eget quam non, rutrum efficitur turpis. Etiam tempus viverra pretium. Mauris in mi arcu. Donec consequat velit justo, id congue libero pulvinar nec. Pellentesque vel porta orci.

    h5 This is H5
    p
      | Ut sed ipsum ac risus bibendum iaculis. Aenean placerat viverra lorem, vel fermentum justo molestie ac. Pellentesque accumsan neque nisl. Vivamus ac consectetur augue.

    h6 This is H6
    p.
      Curabitur sodales, sem sit amet malesuada blandit, erat est cursus neque, posuere viverra dolor libero a mi. Cras faucibus nunc ut leo lacinia, at dictum ipsum egestas. Vestibulum erat quam, feugiat id eros eu, vulputate mollis odio. Quisque iaculis velit vel ante molestie blandit. Sed sed magna massa. Proin sit amet sodales ante. Fusce sit amet odio eu urna semper convallis. Suspendisse quis tincidunt nisl, et facilisis ligula. Donec efficitur sed neque et suscipit. Curabitur dignissim at velit vel viverra. Vivamus a congue dolor. Suspendisse suscipit nec turpis in iaculis. Nullam placerat mi scelerisque, viverra risus ut, consectetur nisi. Maecenas bibendum egestas ex at fringilla. Cras pretium vehicula orci quis blandit.
    p
      | This is another paragraph of the page.

    ul
      li This is the first list item
      li This is the second list item
      li This is the third list item

  aside.notes.
    This is a note.
    of something
