.header {
  height: 34pt;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-out;

  font-family: $accent-font;
  font-weight: 400;
  font-size: $minor-size;

  background: rgba(224, 224, 224, 0.25);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  &__container {
    display: flex;
    align-items: stretch;

    @include respond-from-min($desktopMax) {
      width: $desktopMax;
      margin: 0 auto;
    }
  }
}

.logo {
  display: flex;
  flex: 1;
  align-items: stretch;
  margin: 0;

  &__link {
    display: block;
    padding: 7px 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__fig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $logo-height;
    width: $logo-height + ($logo-height * $phi);
    padding: 0;
    margin: 0;
  }

  &__img {
    width: $logo-height;
    height: $logo-height;
  }

  &__content {
    display: block;
  }
}

.menu {
  font-weight: 500;
  letter-spacing: 0.02em;

  @include respond-from-min($tablet) {
    display: flex;
    flex: $phi;
    justify-content: space-between;
    align-items: stretch;

    width: 100vw;
  }

  &__search {
    display: block;

    @include respond-from-min($tablet) {
      display: flex;
      flex: $phi;
      padding: 5px 0;
    }
  }
  // Site Navigation Menu Block
  &__list {
    @include respond-from-min($tablet) {
      display: flex;
      flex: 1;
      align-items: stretch;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__item {
    // margin-bottom: 32px;

    @include respond-from-min($tablet) {
      padding: 5px 0;
      margin-bottom: 0;
    }
  }
}
