.container {
  padding: 50px 15px;
  background-color: $primary-text;

  @include respond-from-min('desktop') {
    max-width: 1200px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.41), 0px 2px 3px -2px rgba(0, 0, 0, 0.3);
    // border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $primary-bg;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.box {
  margin: 0;
  padding: 0;

  @include respond-from-min('tablet') {
    display: flex;
    flex-wrap: wrap;

    margin-left: negativeMargin($box-item-gap);
    margin-top: negativeMargin($box-item-gap);
    // flex-basis: calc((100% - #{$box-item-gap} * 4) / 4);
  }

  &__item {
    background-color: $content-bg;
    box-shadow: 0 10px 20px -15px black;
    border-radius: 20px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: $box-item-gap;
    }

    @include respond-from-min('tablet') {
      flex-basis: flexElementWidth($box-item-gap, 2);
      margin-left: $box-item-gap;
      margin-top: $box-item-gap;
    }

    @include respond-from-min('desktop') {
      flex-basis: flexElementWidth($box-item-gap, 4);
      margin-left: $box-item-gap;
      margin-top: $box-item-gap;
    }
  }

  &__description {
    padding: 10px;
  }
}
