{{/*
  Custom head-end.html partial for Hextra.
  This partial is used to render Open Graph meta tags with the first image
  found in the page content. The image can be overridden by the ogImage
  parameter in the page front matter.
*/}}
{{ $pageImage := .Params.ogImage }}

{{ if not $pageImage }}
  {{ $pageImage = partial "utils/first-image.html" . }}
{{ end }}

{{ if not $pageImage }}
  {{ $pageImage = .Site.Params.defaultImage }}
{{ end }}

{{ with $pageImage }}
  <meta property="og:image" content="{{ absURL . }}">
  <meta name="twitter:image" content="{{ absURL . }}">
{{ end }}

{{/*
  Add Open Graph meta tag about the creator for Twitter.
*/}}
<meta property="twitter:creator" content="@Searge">
